*{
    /* box-sizing: border-box; */
    margin: 0px;
    padding: 0px;
  
}

header{
color:white;
    display: flex;
    justify-content:center;
    /* align-items:center ; */
 background-color: transparent;
 /* position: absolute; */
 position: absolute;;
 right:0;
 left: 0;
 top: 0;
 bottom: 0;
 font-size: x-large;
 padding: 0px 1px;
 width: 100;
   
}






header a{
   
    color: rgb(174, 96, 6);
    text-decoration: none;
    margin-right: 5px;
    transition: ease 1s;
    font-size: 20px;
    background-color: transparent;
    padding: 0px 1px;
    width: 100;
   
    

}
header a:hover{
    font: 1em sans-serif;
    color: rgb(226, 110, 22);
}
.work{
    background-color: black;
} 
#foter{
    text-align: center;
    background-color: rgb(0, 2, 4);
    color: aliceblue;
}
#foter a{
    padding: 0px 1px;
    width: 100;
   display: block;
   justify-content: space-between;
}
